footer {
    color: antiquewhite;
    font-size: 14px;
    text-align: center;
    padding: 32px;
    background: linear-gradient(90deg, rgb(3, 58, 8)0%, rgb(3, 82, 3)100%);
    strong {
      color: antiquewhite;
    }
    .footer-links {
      margin-bottom: 24px;
      a {
        margin: 0 8px;
        color: antiquewhite;
      }
    }
  }