
.Navegation {
    display: flex;
    background-color: black;
    color: blanchedalmond;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    color: rgb(255, 255, 255);
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul li {
    list-style-type: none;
    color: rgb(238, 181, 181);
}