footer {
    color: antiquewhite;
    font-size: 14px;
    text-align: center;
    padding: 32px;
    background: linear-gradient(90deg, rgb(236, 193, 153)0%, rgb(202, 166, 142)100%); }
    strong {
      color: antiquewhite;
    }
   
 a {
        margin: 0 8px;
        color: antiquewhite;
      }
   