*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

.mainFormContainer {
    height: 100vh;
}

.textColor {
    color: rgb(102, 9, 86);
}

.redirectBottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}