footer {
    color: antiquewhite;
    font-size: 14px;
    text-align: center;
    padding: 32px;
    background: linear-gradient(90deg, rgb(137, 194, 142)0%, rgb(77, 100, 77)100%);
   
    }

    .strong {
      color: antiquewhite;  }
    .footer-links {
      margin-bottom: 24px;}
      .a {
        margin: 0 8px;
        color: antiquewhite;
      }
    
  