.product {
    background: white;
    margin: 16px;
    width: 200px;
    border-radius: 2px;
}

.product .product-image {
    overflow: hidden;
    border-radius: 2px 2px 0 0;
    max-height: 200px;
}

.product-image img {
    width: 100%;
    height: auto;
    transition: transform 300ms ease-in;
    transform: scale(1);
}

.product-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .product-price {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 16px;
   
  }
  .product-name,
  .product-price {
    color: gray;
    padding: 0 16px;
    text-align: center;
  }