extends ./layouts/main.pug

block content
    .redirectBottom
        a(href="/productos/create" class="btn btn-secondary btn-lg p-2 m-2") Crea un nuevo producto

    h1(class="display-1 text-center textColor my-3") Lista de Productos

    if dataProducts.length > 0
        table(class="table table-dark table-hover align-middle")
            thead
                tr
                    th(scope="col" class="text-center") Name
                    th(scope="col" class="text-center") Price
                    th(scope="col" class="text-center") Image
            tbody.table-group-divider
                each product in dataProducts
                    tr
                        th(scope="row" class="text-center")= product.nombre
                        td(class="text-center")= '$ ' + product.price
                        td(class="text-center")
                            img(height="75px" width="120px")&attributes({src: product.url, alt: product.nombre})
    else
            .row.justify-content-center.mt-5
                .col-md-5
                    .card
                        .card-body
                            h2(class="display-5 text-center") Lista vacia
                            p.lead Aún no hay productos registrados