extends ./layouts/main.pug

block content
    .mainFormContainer
        .redirectBottom.mb-4
            a(href="/productos" class="btn btn-secondary btn-lg p-2 m-2") Ver productos

        .row.justify-content-center.align-items-center
            .col-md-6
                .card
                    .card-body
                        h2(class="display-5 text-center textColor") Add a Product
                        form(action="/productos" method="POST")
                            .form-floating.mb-3
                                input(type="text" class="form-control" name="nombre" id="floatingInputName" placeholder="Nombre del producto" required)
                                label(for="floatingInputName") Nombre del Producto

                            .form-floating.mb-3
                                input(type="number" class="form-control" name="price" id="floatingInputPrice" placeholder="Precio" step="0.01" min="0" required)
                                label(for="floatingInputPrice") Precio

                            .form-floating.mb-3
                                input(type="text" class="form-control" name="url" id="floatingInputUrl" placeholder="Image" required)
                                label(for="floatingInputUrl") URL Imagen

                            .d-grid
                                input(type="submit" value="Add Product" class="btn btn-primary btn-lg")